{erl_opts, [
            debug_info,
            {parse_transform, lager_transform},
            warn_format,
            %% warn_export_all,
            %warn_export_vars,
            warn_obsolete_guard,
            %warnings_as_errors,
            warn_bif_clash
            %% warn_missing_spec,
            %% warn_untyped_record
           ]}.

{lib_dirs, ["apps","deps"]}.
{sub_dirs, [
  "apps/ejson",
  "apps/snappy",
  "apps/couch_view_parser",
  "apps/couch_dcp",
  "apps/couch_index_merger",
  "apps/couch_set_view",
  "apps/couch",
  "apps/oauth",
  "apps/mochiweb"
]}.

{deps, [
  {lager,       ".*", {git, "git://github.com/basho/lager.git", {tag, "2.0.2"}}},
  {jsx,         ".*", {git, "git://github.com/flussonic/jsx.git", "9afc8f29e8054e7"}},
  {lhttpc,      ".*", {git, "git://github.com/erlyvideo/lhttpc"}}
]}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
