{port_specs, [
  {"priv/ejson.so", [
    "c_src/yajl/yajl.c",
    "c_src/yajl/yajl_alloc.c",
    "c_src/yajl/yajl_buf.c",
    "c_src/yajl/yajl_encode.c",
    "c_src/yajl/yajl_gen.c",
    "c_src/yajl/yajl_lex.c",
    "c_src/yajl/yajl_parser.c",
    "c_src/yajl/yajl_tree.c",
    "c_src/yajl/yajl_version.c",
    "c_src/decode.c", 
    "c_src/encode.c", 
    "c_src/ejson.c"]}
]}.
{port_env, [
  {"CFLAGS", "$CFLAGS -I/usr/local/include -g"},
  {"LDFLAGS", "$LDFLAGS  -g"}
]}.

{clean_files, [
  "priv/ejson.so"
]}.