{port_specs, [
  {"priv/couch_view_parser.so", [
    "c_src/yajl/yajl.c",
    "c_src/yajl/yajl_alloc.c",
    "c_src/yajl/yajl_buf.c",
    "c_src/yajl/yajl_encode.c",
    "c_src/yajl/yajl_gen.c",
    "c_src/yajl/yajl_lex.c",
    "c_src/yajl/yajl_parser.c",
    "c_src/yajl/yajl_tree.c",
    "c_src/yajl/yajl_version.c",
    "c_src/couch_view_parser.cpp", 
    "c_src/couch_view_parser_nif.cpp"]}
]}.
{port_env, [
  {"CFLAGS", "$CFLAGS -I/usr/local/include -g"},
  {"LDFLAGS", "$LDFLAGS  -g"}
]}.

{erl_opts, [
            debug_info,
            % {parse_transform, lager_transform},
            warnings_as_errors,
            warn_format,
            %% warn_export_all,
            warn_export_vars,
            warn_obsolete_guard,
            warn_bif_clash
            %% warn_missing_spec,
            %% warn_untyped_record
           ]}.


%{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
%{cover_enabled, true}.
