{port_specs, [
  {"priv/mapredice.so", [
    "c_src/mapreduce.cpp", 
    "c_src/mapreduce_nif.cpp"]}
]}.
{port_env, [
  {"CFLAGS", "$CFLAGS -I/usr/local/include -g"},
  {"LDFLAGS", "$LDFLAGS -lv8 -g"}
]}.

{erl_opts, [
            debug_info,
            % {parse_transform, lager_transform},
            warnings_as_errors,
            warn_format,
            %% warn_export_all,
            warn_export_vars,
            warn_obsolete_guard,
            warn_bif_clash
            %% warn_missing_spec,
            %% warn_untyped_record
           ]}.


%{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
%{cover_enabled, true}.
