{port_specs, [
  {"priv/couch_icu_driver.so", ["c_src/couch_icu_driver.c"]},
  {"priv/couch_ejson_compare.so", ["c_src/couch_ejson_compare.c", "c_src/couch_raw_json_compare.c", "c_src/couch_ejson_compare_utils.c"]}
]}.
{port_env, [
  {"CFLAGS", "$CFLAGS -I/usr/local/include `pkg-config --cflags icu-uc icu-io` -g"},
  {"LDFLAGS", "$LDFLAGS `pkg-config --libs icu-uc icu-io` -g"}
]}.
{clean_files, [
  "priv/couch_icu_driver.so",
  "priv/couch_ejson_compare.so"]}.