
{port_specs, [
  {"priv/snappy_nif.so", ["c_src/snappy_nif.cpp"]}
]}.
{port_env, [
  {"CFLAGS", "$CFLAGS -I/usr/local/include -g"},
  {"LDFLAGS", "$LDFLAGS -lsnappy -g"}
]}.

{erl_opts, [
            debug_info,
            warnings_as_errors,
            warn_format,
            %% warn_export_all,
            warn_export_vars,
            warn_obsolete_guard,
            warn_bif_clash
            %% warn_missing_spec,
            %% warn_untyped_record
           ]}.


%{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
%{cover_enabled, true}.
